<div class = posts>
  <% @posts.each do |post| %>
      <div class = contents>
        <h3><%= post.content %></h3>
      </div>
      <div class = edit-menu>
        <P><%= link_to '詳細', post %></P>
        <P><%= link_to '編集', edit_post_path(post) %></P>
        <P><%= link_to '削除', post, method: :delete, data: { confirm: '本当に？' } %></P>
      </div>
  <% end %>
</div>