* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration:none ;
  color: #eee
}

body{
  text-align: center;
  background: url('images/rdtyuhij.jpg') fixed;
  background-size: cover;
  position: relative;
  height: 100%;
  }
    .left-box{
      float: left;
      position: fixed;
      width:25%;
      height: 100%;
      background-color: rgba(58, 58, 61, 0.747);
      padding-top: 20%;
      font-family: 'M PLUS 1p', sans-serif;
      animation: anime1 2s ease;

      .icons{
        display: inline-flex;
        .fa-sign-out-alt{
          font-size: 80px;
          border-radius: 10px;
          background-color: black;
          height: 80px;
          width: 80px;
          opacity: 0.7;
          &:hover {
            color: grey;
          }
        }
        .fa-sign-in-alt{
          font-size: 80px;
          border-radius: 10px;
          background-color: black;
          height: 80px;
          width: 80px;
          opacity: 0.7;
          &:hover {
            color: grey;
          }
        }
        .fa-signature{
          font-size: 70px;
          border-radius: 10px;
          background-color: black;
          height: 80px;
          width: 80px;
          opacity: 0.7;
          &:hover {
            color: grey;
          }
        }
      }
        .fa-plus-square{
          font-size: 80px;
          border-radius: 10px;
          background-color:rgb(58, 56, 56);
          height: 80px;
          width: 80px;
          &:hover {
            color: black;
          }
        }
      }
    .right-box{
      float: right;
      right: 0px;
      position: fixed;
      width: 25%;
      height: 100%;
      background-color: rgba(10, 10, 10, 0.692);
      padding-top: 20%;
      animation: anime2 3s ease;
      .blog{
        font-size: 50px;
        width: 200px;
        letter-spacing: 20px;
        font-family: 'Bevan', cursive;
        margin-bottom: 0;
        margin: auto;
        text-align: center;
      }
      p{
        display: block;
        margin: auto;
        width: 200px;
        font-size: 2px;
        letter-spacing: 2px;
        font-family: 'Bai Jamjuree', sans-serif;
      }
    }
            @keyframes anime1 {
              0% {
                  opacity:  0;
                  left: 50px;
              }
              100% {
                  opacity:  1;
                  left: 0;
              }
            }
          @keyframes anime2 {
            0% {
                opacity:  0;
                top: 50px;
            }
            100% {
                opacity:  1;
                top: 0;
            }
          }
      .posts{
        margin: auto;
        width: 50%;
        letter-spacing: 4px;
        background-color: rgba(58, 58, 61, 0.582);
        color: white;
        font-family: 'M PLUS 1p', sans-serif;
        display: none;
        .contents{
          width: 400px;
          margin: auto;
          h3{
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 15px 15px 0 15px;
            font-size: 14px;
          }
    }
    .edit-menu{
      display: inline-flex;
      margin: 0px;
      p{
        margin: 0px;
        width: 50px;
        padding-bottom: 10px;
      }
    }
  }
// 詳細などのリンクボタン
a {
  color: #fff;
  font-size: 4px;
  display: inline;
  padding:5px;
  margin-bottom: 20px;
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }
    &:hover {
      color: black;
    }
  }
  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2 {
      margin: auto;
      width: 50%;
      opacity: 0.8;
      letter-spacing: 3px;
      border-radius: 10px;
      background-color: rgb(94, 90, 90);
      color: white;
    }

    ul {
      font-size: 12px;
      list-style: square;
    }
  }

  label {
    display: block;
  }

  textarea {
    resize: none;
    width:300px;
    height:200px;
    color: black;
  }

  input{
      width:300px;
      height:30px;
      background-color:grey;
      color: black;
    }

    .others{
      width:100vw;
      height: 100vh;
      background-color: rgba(58, 58, 61, 0.582);
      font-family: 'M PLUS 1p', sans-serif;
      letter-spacing: 3px;
      position: fixed;
    }

//-----------------以下実験---------------------//

.popupModal1 > input { /* ラジオボックス非表示 */
  display: none;
}
.popupModal1 > input:nth-child(1) + label {
  cursor: pointer;
}
.modalPopup2 { /* 初期設定 ポップアップ非表示 */
  display: none;
}

.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 {/* ラジオ１ チェックでポップアップ表示 */
  display: block;
  z-index: 998;
  position: fixed;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  margin-top: 30px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 10px 20px;
  overflow: hidden;
}
@media (min-width: 768px) {/* PCのときはページの真ん中の600x600領域 */
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2{
       width: 600px;
       height: 600px;
       padding: 30px;

  }
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
   left: 50% !important;
   top: 50% !important;
   margin-left: 270px !important;
   margin-top: -310px !important;
}
}

.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div {/* */
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > iframe {
  width: 100%;
    height:100%;
    border:none;
    display:block;
}

.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > img {/* ポップアップの中の要素 */
max-width: 100%;
}
.popupModal1 > input:nth-child(1) + label ~ label {
  display: none;/* ラジオ１ 以外のラベルを初期は非表示 */

}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 997;
  text-indent: -999999px;
  overflow: hidden;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 20px;
  z-index: 999;
  width: 44pt;
  height: 44pt;
  font-size: 40px;
  border-radius: 50%;
  line-height: 44pt;
  text-align: center;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.popupModal1 > input:nth-child(1) + label + input:nth-child(3):checked + label + input:nth-child(5) + label + .modalPopup2,
.popupModal1 > input:nth-child(1) + label + input:nth-child(3) + label + input:nth-child(5):checked + label + .modalPopup2 { /* ラジオ２と３ どっちかチェックでポップアップ非表示 */
  display: none;
}


.modalPopup2 {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.popupModal1 .modalTitle {
   padding-bottom: .5em;
   margin: .5em 0;
   border-bottom:
   1px solid #ccc;
   font-weight: bold;
}
.popupModal1 .modalMain {
   color:rgb(0, 0, 0);
   text-align: left;
   font-size: 14px;
   line-height: 1.8em;
   p{
     color:black;
     font-size: 14px;
     width:100%;
   }
}

.modalTitle{
  font-size:20px;
  color:black;
}

.popupModal1{
  font-size: 3px;
  color: rgb(88, 82, 82);
}